body{
  font-family: 'Yeseva One', cursive,'Noto Serif TC', serif;
 }
p,h1,h2,h3 {
  margin: 0;
}
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration:none;
}
a:hover {
  // opacity: 0.8;
  color: $secondary !important;
}
.mw-1296{
  padding: 0px 72px;
  margin: 0px auto;
  @include media-breakpoint-down(lg) {
    padding: 0px 12px;
  }
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}