<div class="mw-1296">
  <div class="banner mb-32 mb-md-48 ">
    <div class="banner-image text-white ps-40 ps-md-48 pt-16 pt-md-48 pb-24">
      <h2>19 MAY 2023</h2>
      <div class="banner-text">
        <h3>隔牆有耳-沒有草東的派對</h3>
        <p class="d-none d-md-block">
          你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
          帶上啤酒、野餐墊，讓我們在Live
          House外面一起開場「沒有草東的派對」吧！
        </p>
      </div>
    </div>
  </div>
</div>
