<div class="dreams border-top border-3  ">
  <div class="mw-1296">
    <div
      class="dreams-content py-48 py-md-60 d-flex justify-content-center align-items-center flex-column"
    >
      <h3 class="mb-12 mb-md-16 fw-bold">
        此刻打盹，你將做夢；此刻學習，你將圓夢
      </h3>
      <p class="fw-bold">——我也不知道 誰說的</p>
    </div>
  </div>
</div>