<div class="explore-more mb-32 mb-md-48">
  <div class="mw-1296">
    <ul class="row row-cols-3 row-cols-lg-6 p-0">
      <li class="col mb-8 mb-lg-0">
        <a
          href="#"
          class="border border-2 d-flex flex-column py-20 py-md-35 justify-content-center align-items-center"
        >
          <img class="mb-8 mb-md-12" src="../assets/images/cate01.svg " alt="cate01" />
          <p class="explore-more-pStyle word-break">演出</p>
        </a>
      </li>
      <li class="col mb-8 mb-lg-0">
        <a
          href="#"
          class="border border-2 d-flex flex-column py-20 py-md-35 justify-content-center align-items-center"
        >
          <img class="mb-8 mb-md-12" src="../assets/images/cate02.svg " alt="cate02" />
          <p class="explore-more-pStyle word-break">聯誼</p>
        </a>
      </li>
      <li class="col mb-8 mb-lg-0">
        <a
          href="#"
          class="border border-2 d-flex flex-column py-20 py-md-35 justify-content-center align-items-center"
        >
          <img class="mb-8 mb-md-12" src="../assets/images/cate03.svg " alt="cate03" />
          <p class="explore-more-pStyle word-break">展覽</p>
        </a>
      </li>
      <li class="col mb-8 mb-lg-0">
        <a
          href="#"
          class="border border-2 d-flex flex-column py-20 py-md-35 justify-content-center align-items-center"
        >
          <img class="mb-8 mb-md-12" src="../assets/images/cate04.svg " alt="cate04" />
          <p class="explore-more-pStyle word-break">美食</p>
        </a>
      </li>
      <li class="col mb-8 mb-lg-0">
        <a
          href="#"
          class="border border-2 d-flex flex-column py-20 py-md-35  justify-content-center align-items-center"
        >
          <img class="mb-8 mb-md-12" src="../assets/images/cate05.svg " alt="cate05" />
          <p class="explore-more-pStyle word-break">戶外</p>
        </a>
      </li>
      <li class="explore-more-li col mb-8 mb-lg-0">
        <a
          href="#"
          class="explore-more-a border border-2 d-flex  py-24 py-md-38 justify-content-center align-items-center bg-primary"
        >
          <p class="explore-more-p text-secondary flex-column">探索<br>更多</p>
        </a>
      </li>
    </ul>
  </div>
</div>
