<div class="followSubscribe mt-32 mt-md-60 mb-48 mb-md-62">
  <div class="mw-1296 d-flex flex-column flex-md-row ">
      <div class="followSubscribe-style mb-24 mb-md-0">
        <h3 class="border-2 border-bottom py-16 ps-12 ps-md-32 border border-2">
          #FOLLOW US
        </h3>
        <div class="follow-content px-12 py-16 p-md-32 border border-2">
          <p class="follow-content-p mb-16 mb-md-32">
            想第一時間獲得新奇有趣的活動資訊？<br />
            追蹤我們的社群吧！<br />
            也歡迎你聯繫我們，提供好玩有趣的活動企劃。
          </p>
          <ul>
            <li class="mb-16">
              <a href="" class="d-flex align-items-center">
                <i
                  class="follow-icon me-16 bg-primary icofont-ui-email"
                ></i>
                <p>7tao.event@gmail.com</p>
              </a>
            </li>
            <li class="mb-16">
              <a href="" class="d-flex align-items-center">
                <i class="follow-icon me-16 bg-primary icofont-phone"></i>
                <p>09123123123</p>
              </a>
            </li>
            <li>
              <a href="" class="d-flex align-items-center">
                <i
                  class="follow-icon me-16 bg-primary icofont-facebook"
                ></i>
                <p>7TAO七逃</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="followSubscribe-style">
        <h3 class="border-2 border py-16 ps-12 ps-md-32">
          #SUBSCRIBE US
        </h3>
        <div class="border border-2 subscribe-height">
          <div class="subscribe-content px-12 pt-16 pt-md-32 px-md-32">
            <label for="subscribe-input" class="mb-32">
              訂閱電子報送折價券！<br />
              定期精選文章資訊及最新優惠資訊，<br />
              還不通通給我訂閱起來？
            </label>
            <br />
            <input
              type="text"
              class="subscribe-input border border-2 py-16 ps-24"
              id="subscribe-input"
              placeholder="輸入Email "
            />
          </div>
          <a
            href="#"
            class="subscribe-content-a py-16 py-md-8 bg-primary text-white d-flex align-items-center justify-content-center"
          >
            <p class="me-4">確認訂閱</p>
            <img
              src="/assets/images/rounded-double-right-white.png"
              alt="rounded-double-right-white"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>