<div class="online mb-32 mb-md-60">
  <div class="mw-1296">
    <div
      class="online-content d-flex justify-content-between align-items-center border border-2 px-12 py-16 py-md-24 px-md-32 mb-24 mb-md-32"
    >
      <h2>ONLINE</h2>
      <p>線上活動</p>
    </div>
    <div class="row justify-content-between">
      <div class="col-md-7 mb-16 mb-md-0">
        <div class="online-image"></div>
      </div>
      <div class="online-image-content col-md-5">
        <h3 class="fw-bold mb-12 mb-md-16">切特居批踢</h3>
        <ul class="d-flex mb-12 mb-md-32">
          <li class="me-8 fw-bold">競賽</li>
          <li class="me-8 fw-bold">科技</li>
          <li class="fw-bold">有趣</li>
        </ul>
        <p class="aa mb-12 mb-md-32">
          最近網路上很流行的AI程式
          ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br />
          這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br />
          該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
        </p>
        <a
          href="#"
          class="d-flex justify-content-center align-items-center bg-black py-8"
        >
          <p class="text-white fw-bold pStyle">查看活動詳情</p>
          <img
            class="text-white"
            src="/assets/images/rounded-double-right-white.png"
            alt="rounded-double-right-white"
          />
        </a>
      </div>
    </div>
  </div>
</div>