<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&family=Yeseva+One&display=swap" rel="stylesheet">

    <title>eventBooking</title>
  </head>
  <body class="bg-bgColor">
    <%- include('./layout/header'); -%>
    <div class="banner mb-32 mb-md-48">
      <div class="container-fluid">
        <div class="banner-image text-white ps-40 ps-md-48 pt-16 pt-md-48 pb-24 "> 
          <h2>19 MAY 2023</h2>
          <div class="banner-text">
            <h3>隔牆有耳-沒有草東的派對</h3>
            <p class="d-none d-md-block ">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
              帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
          </div>
        </div>
      </div>
    </div> 
<div class="explore-more mb-32 mb-md-48">
  <div class="container-fluid ">
    <ul class="row m-0 justify-content-between">
      <li class="col-4 mb-8 mb-lg-0 p-0">
        <a href="#" class=" border border-2 d-flex justify-content-center align-items-center">
          <img src="/assets/images/cate01.svg " alt="">
          <p class="explore-more-pStyle">演出</p>
        </a>
      </li>
      <li class="col-4 mb-8 mb-lg-0 p-0">
        <a href="#" class=" border border-2 d-flex justify-content-center align-items-center">
          <img src="/assets/images/cate02.svg " alt="">
          <p class="explore-more-pStyle">聯誼</p>
        </a>
      </li>
      <li class="col-4 mb-8 mb-lg-0 p-0">
        <a href="#" class=" border border-2 d-flex justify-content-center align-items-center">
          <img src="/assets/images/cate03.svg " alt="">
          <p class="explore-more-pStyle">展覽</p>
        </a>
      </li>
      <li class="col-4 mb-8 mb-lg-0 p-0">
        <a href="#" class=" border border-2 d-flex justify-content-center align-items-center">
          <img src="/assets/images/cate04.svg " alt="">
          <p class="explore-more-pStyle">美食</p>
        </a>
      </li>
      <li class="col-4 mb-8 mb-lg-0 p-0">
        <a href="#" class=" border border-2 d-flex justify-content-center align-items-center">
          <img src="/assets/images/cate05.svg " alt="">
          <p class="explore-more-pStyle">戶外</p>
        </a>
      </li>
      <li class="col-4 mb-8 mb-lg-0 p-0 bg-primary">
        <a href="#" class=" border border-2 d-flex justify-content-center align-items-center">
          <p class="explore-more-p  text-secondary ">探索更多</p>
        </a>
      </li>
    </ul>
    
  </div>
</div>
    <!-- <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
