<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body class="bg-bgColor">
    <%- include('./layout/header'); -%>
    <div class="login mt-24 mt-md-60 ">
      <div class="container-fluid">
        <div class="login-content d-flex flex-column align-items-center ">
          <img class="login-logo mb-16" src="/assets/images/sparkler.png" alt="sparkler">
          <h2 class="mb-16">會員登入</h2>
          <ul>
            <li class="mb-16 d-flex flex-column">
              <label class="mb-8" for="user-acc ount">帳號</label>
              <input class="border border-2 " type="text" id="user-account" placeholder="請輸入帳號">
            </li>
            <li class="mb-24 mb-md-32 d-flex flex-column">
              <label class="mb-8" for="user-password">密碼</label>
              <input class="border border-2 " type="text" id="user-password" placeholder="請輸入密碼">
            </li>
            <li>
              <a class="login-a bg-primary d-flex align-items-center justify-content-center py-16 py-md-8 text-white " href="#">
                <p class="me-4">登入</p>
                <img src="/assets/images/rounded-double-right-white.png" alt="rounded-double-right-white">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
